.h1-container {
    color: black;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
}


h2 {
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
}

h3 {
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

li {
    font-family: 'Courier New', Courier, monospace;
}

.button {
    margin-bottom: 20px;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: blue;
    border-radius: 8px;
}


a {
    color: white;
    font-size: large;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
}