h1 {
    color: black;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
}


h2 {
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
}

h3 {
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

li {
    font-family: 'Times New Roman', Times, serif;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
}

.recipes .recipe {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.recipe-link {
    margin-bottom: 30px;
}
